* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-basis: 48px;
  background-color: #1f2937;
  align-items: flex-end;
  padding: 0 150px;
}

.header .links {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.header .link {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
  transition: color 0.5s;
}

.header .link:hover {
  color: orangered;
}

.header .logo {
  margin-right: auto;
  font-size: 24px;
  color: #f9faf8;
}
